In [4]:
#1) give a list of numbers,find and print all the list element with an even index number.
#(i.e. A[0],A[2],A[4],...)
x=input("enter numbers seperated by comma").split(",")
a=[]
for i in x:
    a.append(int(i))
print(a)
for j in range(len(a)):
    if(j%2==0):
        print(a[j])

enter numbers seperated by comma 1,2,3,4,5

[1, 2, 3, 4, 5]
1
3
5

In [25]:
#2)give a list of number ,fing and print all element that are an even number
x=input("enter numbers seperated by comma").split(",")
a=[]
for i in x:
    a.append(int(i))
print(a)
for j in a:
    if(j%2==0):
        print(j)

enter numbers seperated by comma 1,2,3,4,5,6,11,13,14,15,16

[1, 2, 3, 4, 5, 6, 11, 13, 14, 15, 16]
2
4
6
14
16

In [30]:
#3)give a list of number ,fing and print all element that are greatter than the previous elment
x=input("enter numbers seperated by comma").split(",")
a=[]
for i in x:
    a.append(int(i))
print(a)
for j in range(len(a)):
    if(a[j]> a[j-1]):
        print(a[j])

enter numbers seperated by comma 1,5,4,8

[1, 5, 4, 8]
5
8

In [35]:
# 4) give a list of number,find and print all the adjacent element which have value divisible by 5 .if there is no such pair
#leave the output blank
x=input("enter numbers seperated by comma").split(",")
a=[]
for i in x:
    a.append(int(i))
print(a)
for j in a:
    if j%5==0:
        print(j)

enter numbers seperated by comma 10,45,67,32,47,20,65,100

[10, 45, 67, 32, 47, 20, 65, 100]
10
45
20
65
100

In [2]:
# 5) give a list of number ,determine and print all element that are greater than both their neighbours.The first and last
#item of thet should not be considered becauses they dont hae 2 neighbours
x=input("enter numbers seperated by comma").split(",")
a=[]
for i in x:
    a.append(int(i))
print(a)
for j in range(1,len(a)):
    if(a[j-1]<a[j]>a[j+1]):
        print(a[j])

enter numbers seperated by comma 1,2,1,76,90,56

[1, 2, 1, 76, 90, 56]
2
90

In [44]:
# 6) given a list of numbers,determine the element in the list with the largest value.Print the value of the largest element
#aong with it's index number.If the heighest element is not unique,print the index of the first instance
x=input("enter value seperated by comma:").split(",")
print(x)
a=[]
for i in x:
    a.append(int(i))
print(a)
a.sort()
print(a)
print("maximum value is:",a[-1], "and index is:a[-1]")

enter value seperated by comma: 2,-965,6789,421,-1,4546,64

['2', '-965', '6789', '421', '-1', '4546', '64']
[2, -965, 6789, 421, -1, 4546, 64]
[-965, -1, 2, 64, 421, 4546, 6789]
maximum value is: 6789 and index is:a[-1]

In [18]:
#7) given a list of number with all of it's element sorted in asceding order,determine and print the quantity of distinct element in it
#distinct= count the total number of element if the element is repeated then count it ones
x=input("enter value seperated by comma:").split(",")
print(x)
a=[]
for i in x:
    a.append(int(i))
a.sort()
print(a)
count=0
for j in range(len(a)):
    print(j)
    if(a[j-1]!=a[j]):
        count=count+1  #1,2,3
print("count:",count)

enter value seperated by comma: 1,2,2,3,3,3

['1', '2', '2', '3', '3', '3']
[1, 2, 2, 3, 3, 3]
0
1
2
3
4
5
count: 3

In [42]:
# 8) give a lilst od numbers ,swap idjecent item in pair (A[0] with A[1],A[2] with A[3],etc.) .Print the resulting list .
#If a list has an odd number of element, leave the last element in place.
x=input("enter value seperated by comma:").split(",")
print(x)
a=[]
for i in x:
    a.append(int(i))
print(a)
for j in range(len(a)):
    if j%2!=0:
        a[j],a[j+1]=a[j+1],a[j]
print(a)

enter value seperated by comma: 1,2,3,4,5,6,7

['1', '2', '3', '4', '5', '6', '7']
[1, 2, 3, 4, 5, 6, 7]
[1, 3, 2, 5, 4, 7, 6]

In [7]:
# 9)  given a list of unique numbers,swap the minimul and maximal element of this list . Print the resulting list
x=input("enter value seperated by comma:").split(",")
print(x)
a=[]
for i in x:
    a.append(int(i))
print(a)
#b=min(a)
#c=max(a)
#print(a)
a[max(a)]=b
a[min(a)]=c
print(a[max(a)])
print(a[min(a)])
print(a)

enter value seperated by comma: 4,5,3,2,1

['4', '5', '3', '2', '1']
[4, 5, 3, 2, 1]
[4, 5, 3, 2, 1]

IndexError: list assignment index out of range

In [20]:
#10) given a list of number , count how many element pair have the same value (are eqaul) .
#any two element that are equal to each other should be counted exctly ones
x=input("enter value seperated by comma:").split(",")
print(x)
a=[]
for i in x:
    a.append(int(i))
a.sort()
print(a)
count=0
for j in range(len(a)):
    if(a[j-1]!=a[j]):
        count=count+1  #1,2,3
print("count:",count)

enter value seperated by comma: 1,2,2,3,3,3

['1', '2', '2', '3', '3', '3']
[1, 2, 2, 3, 3, 3]
count: 3

In [15]:
#11)given a list of numbers , find and print the element that appear in the list only once.
#The element must be printed in the order in which they occur in the original list
x=[1,2,3,4,2,3,4]
for i in

1

TypeError: 'int' object is not callable

In [17]:
#12) Write a python program to check a list is empty or not.
x=[1]
if not x:
    print("The list is emty")
else:
    print("The list is not empty")

The list is not empty

In [18]:
#13) write a python program to cole or copy a list 
x=[20,2,30,4,40,50]
y=x
print(x)
print(y)

[20, 2, 30, 4, 40, 50]
[20, 2, 30, 4, 40, 50]

In [25]:
#14)write a python program to find the list of words that are longer than n from a given list of words
l1=["insiya","Maaz","sayal","chandra"]
print(l1)
l2=[]
n=6
for i in l1:
    if len(i)>=n:
        print(l2.append(i))
print(l2)

['insiya', 'Maaz', 'sayal', 'chandra']
None
None
['insiya', 'chandra']

In [33]:
#15) write a python program that takes two lists and retrns True if they have at least one common member
l1=[1,2,3,4,5]
l2=[2,6,7,8,9,10]
for i in l1:
    for j in l2:
        if(i==j):
            print("True")

True

In [ ]:
#16) write a python program

In [ ]:
#17) WAP to generate a 3*4*6 3d array whose each element is *

In [9]:
#20)
x=[20,2,30,4,67,40]
x.sort()
print(x)
print(f"second maximum is:{x[-2]}, second minimum is :{x[1]}")

[2, 4, 20, 30, 40, 67]
second maximum is:40, second minimum is :4

In [10]:
#16)
x=["Red","Green","White","BLack","Pink","Yellow"]
print(x)
x=x[1:4]
print(x)

['Red', 'Green', 'White', 'BLack', 'Pink', 'Yellow']
['Green', 'White', 'BLack']